%header
    %section{:class=>"content"}
        %h1 Eroa valtiosta
        %h3 Tulevaisuus on valtioton. Teknologian kehitys muuttaa yhteiskuntaa poliitikkojen ja virkamiesten mielipiteitä kyselemättä.

%nav
    %section{:class=>"content"}
        %a{:href=>"#"} Eroa valtiosta
        %a{:href=>"#technology"} Teknologia
        %a{:href=>"#ideology"} Ideologia