%section{:id=>"ideology", :class=>"navpage"}
    %section{:class=>"content"}
        %h2 Ideologia
        %em Usein kuultuja kysymyksiä ja väitteitä
        %section{:class=>"text"}
            %h3 Mitä vikaa valtiossa muka on?
            %p
                %strong Valtio edellyttää väkivallan uhkaa rauhanomaisia ihmisiä, kuten sinua ja ystäviäsi vastaan.

            %p Esimerkiksi verot kerätään pakolla eli väkivallan uhalla. Jos yrität kieltäytyä, omaisuutesi takavarikoidaan. Jos yrität puolustautua, sinua vastaan käytetään voimakeinoja. Jos vastarintasi on äärimmäistä, poliisi voi käyttää tappaviakin voimakeinoja. Käytännössä kyse on siis kaunisteleviin ilmauksiin verhotusta ryöstöstä.

            %p Kaikki muutkin valtion määräämät pakotteet toteutetaan viime kädessä samalla tavalla.

            %p Monen mielestä kouluissa pitäisi opettaa, että "väkivalta ei ole hyväksyttävä ratkaisu ongelmiin". Eikö ole tekopyhää sanoa näin, kun koko yhteiskunta perustuu jatkuvaan väkivallan uhkaan rauhanomaisia kansalaisia vastaan?

            %p Moni allekirjoittaisi väitteen "kukin eläköön niin kuin haluaa kunhan ei vahingoita muita", mutta jostain syystä sekin unohtuu kun aletaan politikoimaan.

            %p
                %strong Väkivaltaan perustuva systeemi on paitsi epäeettinen, myös toimimaton.

            %p Nokia joutuu tekemään hyviä puhelimia, koska kenenkään ei ole pakko ostaa niitä. Valtion tekemisistä sen sijaan valitetaan jatkuvasti, mutta mikään ei muutu, koska veronmaksaja ei voi kieltäytyä maksamasta.

            %p Ihmiset pakotetaan osallistumaan systeemiin, vaikka se toimisi surkeasti tai suorastaan tarkoituksensa vastaisesti. Systeemistä irtisanoutuminen ja vaihtoehtoisen systeemin perustaminen ei ole mahdollista.

            %p
                %img{:src=>"img/statism.jpg", :class=>"small-img"}

        %section{:class=>"text"}
            %h3 Valtio tarvitaan, koska ihmiset ovat itsekkäitä
            %p Jos ihmiset ovat mielestäsi itsekkäitä, et voi kannattaa ainakaan demokratiaa, jossa itsekkäät ihmiset pääsevät äänestämään ja päättämään toisten elämästä.

            %p Vaikka joku olisi sinun mielestäsi itsekäs, oikeuttaisiko se todellakin väkivallan häntä vastaan? Onko yleisesti ottaen hyväksyttävää pakottaa toinen tekemään mielesi mukaan – eikö se juuri ole äärimmäistä itsekkyyttä? Onko hänellä vastaava moraalinen oikeus määräillä sinua, jos hänen näkemyksensä tukena on enemmän tulivoimaa?

            %p Olisitko valmis omakätisesti ryöstämään rahaa työssäkäyvältä naapuriltasi, jos viranomaiskoneisto ei tekisi sitä puolestasi kaikessa hiljaisuudessa?
        %section{:class=>"text"}
            %h3 Ilman sosiaaliturvaa köyhät kuolisivat kaduille
            %p Valtion poistaminen ei tarkoita sosiaaliturvan poistamista, vaan sitä että kenenkään ei olisi pakko tukea systeemiä jonka katsoo huonoksi. Ihmisten ei tarvitsisi valittaa siitä miten sosiaaliturva ei vastaa heidän näkemyksiään, vaan he olisivat vapaita valitsemaan oman systeeminsä.

            %p Kukapa haluaisi maksaa systeemille, joka tuhlaa rahaa byrokratiaan ja jatkuvasti epäonnistuu kurjuuden poistamisessa.
        %section{:class=>"text"}
            %h3 Ilman valtiota rikolliset tai vieraat valtiot kaappaisivat vallan
            %p Tarkoitus ei ole rikollisuuden torjunnan tai maanpuolustuksen lopettaminen, vaan niiden järjestäminen vapaaehtoiselta pohjalta niinkuin useimmat muutkin asiat elämässä.

            %p Jos halutaan välttyä väkivaltaisilta monopoleilta kuten rikollisjärjestöt, on järjenvastaista tarjota lääkkeeksi valtiota, joka on niin ikään väkivaltainen monopoli ja tavallaan verrattavissa rikollisjengiin.
        %section{:class=>"text"}
            %h3 Somalia on osoitus siitä, mihin valtiottomuus johtaa
            %p Väite on samankaltainen kuin "Neuvostoliitto on osoitus siitä, mihin ateismi johtaa".

            %p Samoin kuin valtionkirkon poissaolo ei tarkoita että yhteiskunta olisi ateistinen, valtion poissaolo ei vielä automaattisesti tarkoita että yhteiskunta olisi vapaa. Tarvitaan myös vapaudelle suotuisa kulttuuri ja talous.
        %section{:class=>"text"}
            %h3 Miten asia X toteutettaisiin ilman valtiota?
            %p Olisitko 1800-luvulla osannut ennustaa, miten puuvillan tuotantoprosessi toteutetaan 200 vuoden päästä ilman orjuutta? Mihin entiset orjat sitten työllistyisivät ja kuka poimisi puuvillan? Tuskinpa. Olisiko se ollut riittävä peruste orjuuden kannattamiselle?

            %p Oleellista on se että ihmiset saisivat kehittää toinen toistaan parempia vapaaehtoisuuteen pohjautuvia vaihtoehtoisia ratkaisuja, joista jokainen voi valita itselleen sopivimman. Kukaan ei olisi sidottu vääräksi tai huonoksi kokemaansa systeemiin niin kuin nykyään.

            %p
                %img{:src=>"img/cotton.jpg", :class=>"small-img"}

        %section{:class=>"text"}
            %h3 Elät valtion omistamalla alueella – hyväksy säännöt tai muuta pois
            %p Samalla logiikalla mafian toiminta on täysin oikeutettua. Mafiahan "omistaa" reviirinsä ja asukkaat voivat halutessaan muuttaa muualle. Voidaan toki väittää että mafia tekee väärin koska sen toiminta ei ole demokraattista, mutta muuttuisiko tilanne tosiaan oleellisesti, jos mafia järjestäisi vaalit ja vaikkapa "tulonsiirroilla" lahjoisi puolet väestöstä kannattajikseen?
        %section{:class=>"text"}
            %h3 Eikö valtiottomuus ole täyttä utopiaa?
            %p Kokonaan vapaaehtoiseen osallistumiseen perustuva yhteiskunta on toki hyvin kaukainen tavoite, mutta asenneilmasto näyttäisi muuttuvan liberaalimmaksi ja inhimillisemmäksi jokaisen sukupolven myötä.

            %p Länsimaissa vaimon ja lapsien kurittaminen ei ole enää yleisesti hyväksyttyä, seksuaalista ja muuta poikkeavuutta suvaitaan pitkälti ja auktoriteettiuskoisuus on vähenemään päin.

            %p Maailma muuttuu hitaasti, mutta rauhanomainen ja toimiva yhteiskunta on tavoittelemisen arvoinen päämäärä.

            %p Vaikka et kannattaisi valtiotonta yhteiskuntaa päämääränä, teknologian kehityksen myötä se saattaa kuitenkin olla realiteetti johon on sopeuduttava.

        %section{:class=>"text"}
            %h3 Kuinka eroan valtiosta?
            %p Virallinen valtiosta eroaminen on mahdotonta - siksi tämäkin sivu on perustettu.

            %p Voit kuitenkin irtisanoutua valtiosta periaatteellisesti. Kun tiedostat että systeemi ei ole moraalisesti eikä käytännöllisesti kestävällä pohjalla, sinun ei enää tarvitse ahdistua kun luet uutisia siitä, miten hallitus on taas tehnyt kaiken väärin ja väärä puolue voitti vaalit.

            %p Maksa verot jos on pakko, mutta älä osoita tukeasi systeemille äänestämällä tai osallistumalla politiikkaan. Samalla säästät tuntikaupalla aikaa kun voit jättää väliin tuskastuttavat vaaliväittelyt, vaalikoneet ja äänestämiset.

            %p Älä mene töihin julkiselle sektorille ja välttele julkisia palveluita, jos vain suinkin mahdollista. Panosta vapaaehtoisiin ihmissuhteisiin, ole ystävällinen toisia kohtaan ja nauti elämästä. Voit huomata myös oman elämänlaatusi paranevan.

            %img{:src=>"img/votefornobody.jpg", :alt=>"Vote for nobody"}