%section{:id=>"technology"}
    %section{:class=>"content"}
        %h2 Teknologia
        %em Maailmaa muuttavia keksintöjä
        %section{:class=>"text"}
            %h3 Bitcoin
            %p <a href="http://bitcoin.org">Bitcoin</a> on Internetissä toimiva rahayksikkö ja maksujärjestelmä, jolla ei ole keskuspankkia tai muuta keskitettyä ylläpitäjää. Raha siirtyy suoraan käyttäjältä toiselle ilman pankkeja tai välikäsiä. Vaihtokurssi määräytyy vapailla markkinoilla kysynnän ja tarjonnan mukaan.
            
            %p Uusia tilejä voi luoda rajattomasti ja niitä ei tarvitse yhdistää omistajan henkilöllisyyteen. Raha liikkuu rajojen yli helposti ja nopeasti kuin sähköposti. Bitcoin tekee muiden kuin itselle kuuluvien rahavirtojen hallinnasta ja verotuksesta vaikeaa tai mahdotonta.
            
            %p Valtaosa Bitcoinin käytöstä on laillista, mutta huumeiden postimyynti Silk Road -sivustolla on jo kerännyt mediahuomiota.
        %section{:class=>"text"}
            %h3 3D-tulostus
            %p Tulevaisuudessa tavarat valmistetaan kodeissa, ei isoissa ja helposti valvottavissa tehtaissa tuhansien kilometrien päässä. Tullimaksut ja arvonlisäverot menettävät merkityksensä.
            
            %p Aselait ovat hyödyttömiä, kun kuka tahansa voi tulostaa rynnäkkökiväärin kotonaan. Virkavallan yksinoikeus voimankäyttöön murtuu lopullisesti. <a href="http://defensedistributed.com/">Defense Distributed -projekti</a> tähtää 3D-tulostettavan aseen kehittämiseen.
            
            %p Brändeistä tulee yleisnimiä, kun kuka tahansa voi tulostaa aaltomaljakon tai pleikkarin.
        %section{:class=>"text"}
            %h3 Hajautettu energiantuotanto
            %p Tuuli- ja aurinkovoiman yleistyminen vähentää riippuvuutta keskitetystä energiantuotannosta, kuten fossiiliset polttoaineet ja ydinvoima. Ehkä myös 3D-tulostusta voidaan hyödyntää hajautetun energiantuotannon välineiden valmistuksessa.
        %section{:class=>"text"}
            %h3 Mainetietokannat
            %p Kuvittele maailma, jossa kaikki tuntevat toisensa ja tietävät heidän hyvät ja pahat tekonsa. Mikään ei unohdu, mutta virheitä voi aina pyytää anteeksi ja korvata tekonsa. Uuden teknologian avulla tämä on mahdollista. Kaikki informaatio ihmisistä, aina Facebook-kaveruussuhteista ja valokuvista sormenjälkiin, voidaan tallentaa kaikille avoimeen hajautettuun tietokantaan, jota ei voi sensuroida sen paremmin kuin tiedostonjakoverkkojakaan.

            %p Yleisesti saatavilla oleva mainetieto edistää lahjataloutta. Varallisuuden keräämisen lisäksi ihmiset voivat turvata tulevaisuutensa myös keräämällä hyvää karmaa. Google-haku henkilön nimellä kertoo jo jotain, mutta <a href="http://identifi.org">Identifi-projektin</a> tavoitteet ovat vielä pidemmällä.

        %section{:class=>"text"}
            %h3 Hajautettu tiedonvälitys
            %p Internet on jo murtanut vanhanaikaisen keskitetyn median monopolin tiedonvälityksessä. Miljoonan blogaajan manipulointi on huomattavasti vaikeampaa kuin muutaman sanomalehden tai tv-aseman. Älypuhelimet kameroineen ja nettiyhteyksineen ovat räjäyttäneet pankin, ja mm. diktatuurien kaatumista arabikeväässä pidetään osittain niiden ansiona.

            Pitkän matkan tietoliikenneyhteydet ovat kuitenkin yhä kohtalaisen keskitettyjä. <a href="https://projectmeshnet.org/">Meshnet-projektin</a> tavoitteena on ruohonjuuritasolla toimivan globaalin tietoliikenneverkon luominen.