%section{:id=>"technology", :class=>"navpage"}
    %section{:class=>"content"}
        %h2 Teknologia
        %em Maailmaa muuttavia keksintöjä
        %section{:class=>"text"}
            %h3 3D-tulostus
            %p Tulevaisuudessa yhä useammat tavarat valmistetaan kodeissa tai paikallisissa tulostamoissa, ei isoissa ja helposti valvottavissa tehtaissa tuhansien kilometrien päässä. Tullimaksut ja arvonlisäverot menettävät merkityksensä.
            
            %p Aselait ovat hyödyttömiä, kun kuka tahansa voi tulostaa rynnäkkökiväärin kotonaan. Virkavallan yksinoikeus aseelliseen voimankäyttöön heikkenee entisestään. <a href="http://defensedistributed.com/">Defense Distributed -projekti</a> tähtää 3D-tulostettavan aseen kehittämiseen.

            %img{:src=>"img/3d-printed-gun.jpg", :class=>"small-img", :alt=>"3D-tulostettu aseen osa"}
            %br
            %em 3D-tulostettu aseen osa.

            %p Brändeistä tulee yleisnimiä, kun kuka tahansa voi tulostaa aaltomaljakon tai pleikkarin.

            %p <a href="http://www.thingiverse.com/">Thingiverse</a> on suosittu sivusto avoimen lisenssin 3D-mallien jakamiseen.

        %section{:class=>"text"}
            %h3 Hajautetut rahajärjestelmät
            %p <a href="http://bitcoin.org">Bitcoin</a> on Internetissä toimiva rahayksikkö ja maksujärjestelmä, jolla ei ole keskuspankkia tai muuta keskitettyä ylläpitäjää. Raha siirtyy suoraan käyttäjältä toiselle ilman pankkeja tai välikäsiä. Vaihtokurssi määräytyy vapailla markkinoilla kysynnän ja tarjonnan mukaan.
            
            %p Uusia tilejä voi luoda rajattomasti ja niitä ei tarvitse yhdistää omistajan henkilöllisyyteen. Raha liikkuu rajojen yli yhtä helposti ja nopeasti kuin sähköposti. Bitcoin tekee muiden kuin itselle kuuluvien rahavirtojen hallinnasta ja verotuksesta vaikeaa tai mahdotonta.
            
            %p Valtaosa Bitcoinin käytöstä on laillista, mutta huumeiden postimyynti <a href="http://fi.wikipedia.org/wiki/Silk_Road">Silk Road</a> -sivustolla on jo kerännyt mediahuomiota.

            %img{:src=>"img/bitcoin.png", :class=>"small-img", :alt=>"Bitcoin"}

            %p <a href="http://ripple.com">Ripple</a> on toinen hajautettu rahajärjestelmä, joka perustuu käyttäjien tekemien velkakirjojen vaihdantaan sosiaalisen verkoston kautta.

        %section{:class=>"text"}
            %h3 Mainetietokannat
            %p Kuvittele maailma, jossa kaikki tunnistavat toisensa kadulla ja tietävät heidän hyvät ja pahat tekonsa. Uuden teknologian avulla tämä on mahdollista. Kaikki informaatio ihmisistä, aina Facebook-kaveruussuhteista ja kasvokuvista sormenjälkiin, voidaan tallentaa kaikille avoimeen hajautettuun tietokantaan, jota ei voi sensuroida sen paremmin kuin tiedostonjakoverkkojakaan.

            %p Yleisesti saatavilla oleva mainetieto edistää lahjataloutta, jossa ihmiset auttavat toisiaan ilman välitöntä odotusta vastapalveluksesta. Varallisuuden keräämisen lisäksi ihmiset voivat turvata tulevaisuutensa myös keräämällä hyvää karmaa.

            %p Jokaiselle vastaantulijalle näkyvä mainetieto kannustaa myös jättämään antisosiaalisen käytöksen väliin. Tehtyjä virheitä kannattaa pyytää anteeksi ja ne kannattaa hyvittää luottamuksen palauttamiseksi. Muuten voi olla vaikea solmia sosiaalisia suhteita, päästä sisään ravintolaan tai hankkia vapailta markkinoilta vakuutusta, vuokra-asuntoa tai puhelinliittymää.

            %p Epäselvissä tapauksissa hyvämaineiset tutkijat voivat selvitellä tapahtumia ja jokainen voi itse päättää kenen lausuntoon tai tuomioon luottaa.

            %p Huonomaineisen rikollisen olisi vaikea saada ketään puolelleen, jos uhrin oikeusyhteisö katsoisi kannattavaksi periä hyvitystä aktiivisesti. Mainetieto kannustaisi edelleen myös velkojaa noudattamaan yleisesti hyväksyttyä perintätapaa.

            %p Yleisesti käytettynä tällainen järjestelmä voisi olla huomattavasti tehokkaampi, edullisempi, oikeudenmukaisempi ja vähemmän haitallinen kuin nykyisenlainen hierarkinen oikeusmonopoli.

            %p Google-haku henkilön nimellä antaa jo jonkin verran mainetietoa, mutta <a href="http://identifi.org">Identifi-projektin</a> tavoitteet ovat vielä pidemmällä. Lue myös <a href="http://www.wired.co.uk/magazine/archive/2012/09/features/welcome-to-the-new-reputation-economy?page=all">Wired-lehden artikkeli mainetaloudesta</a>.

            %img{:src=>"img/social-graph.jpg", :class=>"small-img",}
            %br
            %em Visualisaatio sosiaalisesta verkostosta.

        %section{:class=>"text"}
            %h3 Hajautettu energiantuotanto
            %p Tuuli- ja aurinkovoima ja muu <a href="http://fi.wikipedia.org/wiki/Hajautettu_energiantuotanto">hajautettu energiantuotanto</a> vähentää riippuvuutta keskitetystä energiantuotannosta, kuten fossiiliset polttoaineet ja ydinvoima. Ehkä myös 3D-tulostusta voidaan jatkossa hyödyntää hajautetun energiantuotannon välineiden valmistuksessa.

        %section{:class=>"text"}
            %h3 Hajautettu tiedonvälitys
            %p Internet on jo murtanut vanhanaikaisen keskitetyn median monopolin tiedonvälityksessä. Sosiaalisen median ja miljoonien blogaajien hallitseminen on huomattavasti vaikeampaa kuin muutaman sanomalehden tai tv-aseman.

            %p Älypuhelimet kameroineen ja nettiyhteyksineen ovat räjäyttäneet pankin, ja mm. diktatuurien kaatumista arabikeväässä pidetään osittain niiden ansiona.

            Pitkän matkan tietoliikenneyhteydet ovat yhä melko keskittyneitä harvojen operaattorien varaan. <a href="https://projectmeshnet.org/">Meshnet-projektin</a> tavoitteena on ruohonjuuritasolla toimivan globaalin tietoliikenneverkon luominen.